{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category creation</h1>

    {% if error is defined %}
        {% if error is same as("no_categories") %}
            <strong><h3>You have to create a category before creating a task.</h3></strong>
        {% else %}
            <strong><h3>Error: Category "{{ error }}" already exists.</h3></strong>
        {% endif %}
    {% endif %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
